h1{
    text-align: center;
    width: 80%;
   
}
body{
    
    font-family: sans-serif;
    height: 100%;
    width: 123%;
}

.chicken{
    background-color: pink;
    border: 2px solid black;
    padding: 5px;
    display: inline;
    position: absolute;
    top: -18px;
    right: -2px;
    
}
#mutton{
    background-color: orangered;
    border: 2px solid black;
    display: inline;
    padding: 5px;
    position: absolute;
    top: -18px;
    right: -2px;
    color: white;
}
#sushi{
    background-color: yellow;
    border: 2px solid black;
    display: inline;
    padding: 5px;
    position: absolute;
    top: -18px;
    right: -2px;

}
section{
    background-color: rgba(128, 128, 128, 0.324);
    border: 2px solid black;
    padding: 24px;
    margin: 34px;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 40%;
}

@media (max-width: 768px) {
   
 
    #sec3{
        width: 90%;  
        float: inline-start;
    }
    #sec2{
        width: 90%;  
       
    }
    #sec1{
        width: 90%; 
    
    }
    
    
    
}
@media (min-width: 768px) and (max-width: 992px) {
    #sec3{
        width: 84%;  

    }
    
    #sec2{ 
         width: 33.5%;  
        height: 30%;
    }
    
    #sec1{
        width: 33.5%; 
        height: 30%; 
    }
    
}

@media (min-width: 992px) {
    #sec3{
       
        width: 20%;  

    }
    
    #sec2{ 
    
         width: 20%;  
       
    }
    
    #sec1{
      
        width: 20%; 
       
    }
    
}
